In [2]:
import pandas as pd
import numpy as np

## Bday wishes for a friend I

In [9]:
wishes_for_friend_raw = pd.read_csv('../data/raw/bday_wishes_for_friend.csv', delimiter=";")

In [10]:
wishes_for_friend_raw

                                                  text
0    Birthdays come around every year, but friends ...
1    I am grateful for your true friendship. Hope y...
2    I promise that the more birthday candles you b...
3    I hope your birthday is as sweet as the cake. ...
4    I feel so lucky to have you as my friend. Hope...
..                                                 ...
110  The more you praise and celebrate your life, t...
111  Another year around the sun and you’re doing b...
112  Today, you are not just a year older, but have...
113  Hope life is absolutely spoiling you with love...
114  I hope today will be your best birthday yet. K...

[115 rows x 1 columns]

In [13]:
wishes_for_friend_raw.iloc[0].text

'Birthdays come around every year, but friends like you only come once in a lifetime. I’m so glad you came into my life. Best wishes on your special day.'

## Bday wishes for a friend II

In [5]:
wishes_for_friend_raw_2 = pd.read_csv('../data/raw/bday_wishes_for_friend_2.csv', delimiter=";")

In [6]:
wishes_for_friend_raw_2

                                                 text
0   The enthusiasm and anticipation that comes aro...
1   As a best friend, the least you could do is co...
2   With this combination of short and long wishes...
3    Today is the start of something beautiful. A ...
4    Dear best friend, I wish you the happiest and...
..                                                ...
88   A soul like yours is hard to find and friends...
89   A best friend is someone who challenges you t...
90   When I had nothing, you stood by me. You gave...
91   I’ll always value my friendship with you, fro...
92   Just Like a flower, I value your virtues. Lik...

[93 rows x 1 columns]

## Bday wishes for a friend VI

In [5]:
wishes_for_friend_raw_6 = pd.read_csv('../data/raw/bday_wishes_for_friend_6.csv', delimiter=";")
wishes_for_friend_raw_6

                                                  text
0    Cute: I love you more than I love pizza.Funny:...
1    Forget about the past, you can’t change it. Fo...
2    Birthdays are good for you. Statistics show th...
3    Birthdays are nature’s way of telling us to ea...
4    I’d have definitely mailed you a card if I was...
..                                                 ...
326  Thanks so much everyone for the astonishing bi...
327  Thanks for avoiding stock greetings from the s...
328  Gifts will wither away into the sands of time,...
329  Just like how a sprinkle of chocolate makes a ...
330  From the bottom of my heart, I would like to t...

[331 rows x 1 columns]

## Bday wishes for a friend VII

In [7]:
wishes_for_friend_raw_7 = pd.read_csv('../data/raw/bday_wishes_for_friend_7.csv', delimiter=";")
wishes_for_friend_raw_7

                                                 text
0   For your birthday, I’ve gotten you something t...
1   Party hard on your birthday! You can always co...
2   Best wishes, buddy! No matter how old you get,...
3   Perfect birthday checklist: family, friends, a...
4   Even more birthday humor in our article with F...
..                                                ...
88  Why are you even blowing candles on your birth...
89  I thought of getting a unique and charming bir...
90  You must be feeling proud of yourself this bir...
91  Oh, it is your birthday, the day I always wait...
92  I truly hope you get toothless with me on ever...

[93 rows x 1 columns]

## Bday wishes for a friend VIII

In [8]:
wishes_for_friend_raw_8 = pd.read_csv('../data/raw/bday_wishes_for_friend_8.csv', delimiter=";")
wishes_for_friend_raw_8

                                                  text
0    In this life, there are too many adventures an...
1    On this day of happiness and joy, I’d like to ...
2    I look forward to spending every birthday with...
3    This is a day of celebration not only because ...
4    A celebration isn’t complete without some refl...
..                                                 ...
134  I love you so freaking much. Hope you have an ...
135  I hope you have a magical day full of love and...
136  I am fortunate to have you beside me when I fa...
137  I hope that your big day involves a cool day a...
138      Love you. Have a fantastic day all about you.

[139 rows x 1 columns]